/* Light/Dark mode-specific styling */
:root {
  --active-button: #00ffff;
  --background-color: #ffffff;
  --color: #000000;
}

@media(prefers-color-scheme: dark) {
  :root {
    --active-button: #00aaaa;
    --background-color: #000000;
    --color: #ffffff;
  }
}

body {
  background-color: var(--background-color);
  color: var(--color);
}
