.button-holder {
  display: inline-block;
  padding: 5px;
  border-radius: 10px;
}

.button-holder.active {
  background-color: var(--active-button);
}

.task-link {
  color: var(--active-button);
  font-size: 2.2em;
  line-height: 0;
  position: relative;
  text-decoration: none;
  top: 0.1em;
}

table {
  border-collapse: collapse;
  text-align: center;
}

td, th {
  border: 1px solid #888888;
  padding: 10px;
}
