{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tasks</title>
  {% block static %}{% endblock %}
  <link rel="stylesheet" href="{% static 'css/common.css' %}">
</head>
<body>
<nav>
  <a href="{% url 'table:track' %}">Track</a>
  <a href="{% url 'table:table' %}">View Table</a>
  {% if user.is_staff %}
    <a href="{% url 'admin:index' %}">Admin</a>
  {% endif %}
  {% if user.is_authenticated %}
    <a href="{% url 'logout' %}">Log Out</a>
  {% else %}
    <a href="{% url 'login' %}">Log In</a>
  {% endif %}
</nav>
{% block body %}{% endblock %}
</body>
</html>
