{% extends 'table/base.html' %}
{% load static %}

{% block body %}
  <h1>Completed tasks</h1>
  <form method="get">
    <label for="display-start">Start Date:</label>
    <input id="display-start" name="start" type="date" value="{{ start_date.isoformat }}">
    <br>
    <label for="display-end">End Date:</label>
    <input id="display-end" name="end" type="date" value="{{ end_date.isoformat }}">
    <br>
    <button type="submit">Change Dates</button>
  </form>
  <br>
  
  <table>
    <thead>
    <tr>
      <th>{# Blank #}</th>
      {% for date in dates %}
        <th>{{ date }}</th>
      {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for name, row in tasks %}
      <tr>
        <th scope="row">{{ name }}</th>
        {% for cell in row %}
          <td>{{ cell }}</td>
        {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block static %}
  <link href="{% static 'css/table.css' %}" rel="stylesheet">
{% endblock %}
