{% extends 'table/base.html' %}
{% load static %}

{% block body %}
  <h1>Tracking tasks</h1>
  <form method="get">
    <label for="display-date">Date:</label>
    <input id="display-date" name="date" type="date" value="{{ date.isoformat }}">
    <br>
    <button type="submit">Change Date</button>
  </form>
  <br>
  
  {% for task in tasks %}
    <span>{{ task.name }}</span>
    {% if task.url %}
    <a class="task-link" href="{{ task.url }}" target="_blank">&rarr;</a>
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <input name="task" type="hidden" value="{{ task.pk }}">
      <input name="date" type="hidden" value="{{ date.isoformat }}">
      <span class="button-holder {% if task.status == 'success' %}active{% endif %}">
        <button name="status" type="submit" value="success">Done</button>
      </span>
      <span class="button-holder {% if task.status == 'fail' %}active{% endif %}">
        <button name="status" type="submit" value="fail">Not Done</button>
      </span>
      <span class="button-holder {% if task.status == 'pass' %}active{% endif %}">
        <button name="status" type="submit" value="pass">Pass</button>
      </span>
    </form>
    <br>
  {% endfor %}
{% endblock %}

{% block static %}
  <link href="{% static 'css/table.css' %}" rel="stylesheet">
{% endblock %}
