{% extends 'base.html' %}
{% block body %}
  <h1>Add New Project</h1>
  <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add</button>
  </form>
{% endblock %}
