{% extends 'base.html' %}
{% block body %}
  <h1>Welcome</h1>
  <h2>Your goals today</h2>
  <ul>
    {% for project, goal in project_list %}
    <li>
      <a href="{% url 'project-details' project.pk %}">{{ project.project.name }}</a>: {{ goal.name }}
    </li>
    {% endfor %}
  </ul>
  <h2>
    <a href="{% url 'add-project' %}">
      Add new project
    </a>
  </h2>
{% endblock %}
