{% extends 'base.html' %}
{% block script %}
  {% load static %}
  <script src="{% static 'lib/js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/project-details.js' %}"></script>
{% endblock %}
{% block body %}
  <h1>{{ project.project.name }}</h1>
  <form action="" method="post">
    {% csrf_token %}
    <div id="target">
      <h2 id="target-display">Target: {{ project.target }}</h2>
      <h2 id="target-edit" style="display: none;">Target: {{ form.target }}</h2>
    </div>
    <a href="#" id="target-edit-button" onclick="switchEditMode()">Edit</a>
    <div>
      <p>Goal for today:<br/>{{ goal.name }}
        {% if goal.total is not None %}
        <br/>
        {{ goal.total }} {{ project.project.unit_plural }}
        <br/>
        <a href="{{ latest }}">Start</a>
        {% endif %}
      </p>
      <a href="{% url 'project-timetable' project.pk %}">See full timetable</a>
    </div>
    <p>Latest: {{ form.full_latest }}</p>
    {% if showing_all %}
    <p><a href=".">Show Fewer</a></p>
    {% else %}
    <p><a href="?show-all">Show All</a></p>
    {% endif %}
    <br/>
    <button type="submit">Save Changes</button>
  </form>
{% endblock %}
