{% extends 'base.html' %}
{% block script %}
  {% load static %}
  <link href="{% static 'css/project-timetable.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
  <a href="{% url 'project-details' project.pk %}">Back to Project</a>
  <h1>{{ project.project.name }}</h1>
  <table>
    <tr>
      <th>Date</th>
      <th>Task</th>
      <th>{{ project.project.unit_plural | capfirst }}</th>
    </tr>
    {% for task in schedule %}
    <tr>
      <td>{{ task.date }}</td>
      <td>{{ task.name }}</td>
      <td>{{ task.total }}</td>
    </tr>
    {% endfor %}
    <tr>
      <td class="all-done" colspan="3">All done!</td>
    </tr>
  </table>
{% endblock %}
