{% extends 'base.html' %}
{% block script %}
  {% load static %}
  <link href="{% static 'css/text.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
  <h1>{{ task.name }}</h1>
  <h2><a href="{% url 'project-details' project_id %}">Back to Project</a></h2>
  
  <div class="adjacent-links">
    {% if previous %}
    <a href="{{ previous }}">Previous</a>
    {% else %}
    <span class="disabled">Previous</span>
    {% endif %}
    
    {% if next %}
    <a href="{{ next }}">Next</a>
    {% else %}
    <span class="disabled">Next</span>
    {% endif %}
  </div>
  
  <div class="sefaria-link">
    <a href="{{ sefaria_link }}" target="_blank">
      See source on Sefaria
    </a>
  </div>
  
  <div class="text-holder">
    {% for line in text %}
    <p>{{ line }}</p>
    {% endfor %}
  </div>
  
  <p>Text from <a href="https://sefaria.org" target="_blank">Sefaria</a></p>
{% endblock %}
